services:
  postgres:
    image: postgres:18
    container_name: chat-postgres
    restart: always
    environment:
      POSTGRES_DB: chat_app_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1017#Thugger
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d chat_app_db"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  redis:
    image: redis:7
    container_name: chat-redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: chat-app
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/chat_app_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1017#Thugger
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
    restart: always

volumes:
  postgres_data: